.container-details{
  display: block;
}
.weather{
  padding-top: 30px;
}

.img-small{
  padding-left: 10px;
  background-color: lightgray;
  max-width:90%;
  height:auto
}
.col-custom{
  max-width:33.333333%
}
.img-details{
  max-width:100%;
  height:auto
}
.image-size img{
  height: 300px;
  width: 600px;
}
